<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="SSL Editor"
            extensions="ssl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="fdt.editors.ssl.SSLEditor"
            id="ssl.editors.SSLEditor">
      </editor>
      <editor
            class="fdt.editors.scriptslist.ScriptsList"
            default="false"
            filenames="script.lst"
            icon="icons/methpro_obj.gif"
            id="SSL.editor1"
            name="Scripts List Editor">
      </editor>
      <editor
            class="fdt.editors.rix.RIXViewer"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="rix"
            icon="icons/add.gif"
            id="ssl.editors.ssl.rix.RIXViewer"
            name="RIX Viewer">
      </editor>
      <editor
            class="fdt.editors.frm.FRMViewer"
            extensions="frm"
            id="ssl.editors.frm.FRMViewer"
            name="FRM Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="dat">
         <run
               class="fdt.fs.DatFS">
         </run>
      </filesystem>
   </extension>
   <extension
         id="SSLBuilder"
         name="SSL Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="fdt.builder.SSLBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="SSLNature"
         name="SSL Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="fdt.builder.SSLNature">
         </run>
      </runtime>
      <builder
            id="SSL.SSLBuilder">
      </builder>
   </extension>
   <extension
         id="sslcProblem"
         name="SSLC Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="SSL.category1"
            class="fdt.wizards.NewFalloutProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/sample.gif"
            id="SSL.projectWizard"
            name="New Fallout Project Wizzard"
            project="true">
      </wizard>
      <category
            id="SSL.category1"
            name="Fallout">
      </category>
      <wizard
            category="SSL.category1"
            class="fdt.wizards.NewScriptWizard"
            icon="icons/add.gif"
            id="SSL.scriptWizard"
            name="New script"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fdt.preferences.FalloutPreferencePage"
            id="ssl.preferences.FalloutPreferencePage"
            name="Fallout">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fdt.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="fdt.properties.FalloutProjectPropertyPage"
            id="ssl.properties.falloutPropertyPage"
            name="Fallout Settings"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="SSL.contribution1"
            objectClass="fdt.adapters.PackedFileAdapter">
         <action
               class="fdt.popup.actions.ExctractAction"
               icon="icons/export_wiz.gif"
               id="SSL.newAction"
               label="Extract to patches">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="SSL.objectContribution1"
            objectClass="fdt.adapters.ScriptAdapter">
         <action
               class="fdt.popup.actions.ShowMsgAction"
               icon="icons/methpro_obj.gif"
               id="SSL.action2"
               label="Show Msg">
         </action>
         <action
               class="fdt.popup.actions.ShowDisassemblyAction"
               icon="icons/methpub_obj.gif"
               id="SSL.action5"
               label="Show Int">
         </action>
         <action
               class="fdt.popup.actions.DecompileAction"
               icon="icons/export_wiz.gif"
               id="SSL.action.decompile"
               label="Decompile">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="fdt.adapters.AdapterFactory">
         <adapter
               type="fdt.adapters.ScriptAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="fdk.lst.IEntry"
            class="fdt.adapters.AdapterFactory">
         <adapter
               type="fdt.adapters.ScriptAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="fdt.adapters.AdapterFactory">
         <adapter
               type="fdt.adapters.PackedFileAdapter">
         </adapter>
      </factory>
   </extension>

</plugin>
