<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="SSL Editor"
            extensions="ssl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="fdt.editors.ssl.SSLEditor"
            id="FDT.editors.SSLEditor">
      </editor>
      <editor
            class="fdt.editors.scriptslist.ScriptsList"
            default="true"
            filenames="script.lst"
            icon="icons/methpro_obj.gif"
            id="FDT.editors.scriptsList"
            name="Scripts List Editor">
      </editor>
      <editor
            class="fdt.editors.rix.RIXViewer"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="rix"
            icon="icons/add.gif"
            id="FDT.editors.rix"
            name="RIX Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="dat">
         <run
               class="fdt.fs.DatFS">
         </run>
      </filesystem>
   </extension>
   <extension
         id="FDT.SSLBuilder"
         name="SSL Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="fdt.builder.SSLBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="FDT.SSLNature"
         name="SSL Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="fdt.builder.SSLNature">
         </run>
      </runtime>
      <builder
            id="FDT.SSLBuilder">
      </builder>
   </extension>
   <extension
         id="FDT.sslcProblem"
         name="SSLC Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="FDT.newWizards"
            class="fdt.wizards.NewFalloutProjectWizard"
            finalPerspective="org.eclipse.ui.resourcePerspective"
            icon="icons/sample.gif"
            id="FDT.wizards.project"
            name="New Fallout Project Wizard"
            project="true">
      </wizard>
      <category
            id="FDT.newWizards"
            name="Fallout">
      </category>
      <wizard
            category="FDT.newWizards"
            class="fdt.wizards.NewScriptWizard"
            icon="icons/add.gif"
            id="FDT.wizards.script"
            name="New script"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fdt.preferences.FalloutPreferencePage"
            id="FDT.preferences.main"
            name="Fallout">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fdt.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="fdt.properties.FalloutProjectPropertyPage"
            id="FDT.properties.project"
            name="Fallout"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="FDT.packedResourceContribution"
            objectClass="fdt.adapters.PackedFileAdapter">
         <action
               class="fdt.popup.actions.ExctractAction"
               icon="icons/export_wiz.gif"
               id="FDT.action.extractToPatches"
               label="Extract to patches">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="FDT.scriptMenuContribution"
            objectClass="fdt.adapters.ScriptAdapter">
         <action
               class="fdt.popup.actions.ShowMsgAction"
               icon="icons/methpro_obj.gif"
               id="FDT.action.showMsg"
               label="Show Msg">
         </action>
         <action
               class="fdt.popup.actions.ShowDisassemblyAction"
               icon="icons/methpub_obj.gif"
               id="FDT.action.showInt"
               label="Show Int">
         </action>
         <action
               class="fdt.popup.actions.DecompileAction"
               icon="icons/export_wiz.gif"
               id="FDT.action.decompile"
               label="Decompile">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="fdt.adapters.AdapterFactory">
         <adapter
               type="fdt.adapters.ScriptAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="fdk.lst.IEntry"
            class="fdt.adapters.AdapterFactory">
         <adapter
               type="fdt.adapters.ScriptAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="fdt.adapters.AdapterFactory">
         <adapter
               type="fdt.adapters.PackedFileAdapter">
         </adapter>
      </factory>
   </extension>

</plugin>
